body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    font-family: "Space Mono", normal;
    background-color: #d4d9dd;
}

ul {
    text-align: left;
    padding-left: 30px;
}

a {
    color: black;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

#topNav {
    background-color: #232323;
    margin-bottom: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#topNav a {
    color: #d4d9dd;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#topNav a:hover {
    color: black;
    background-color: #616161;
}

#about {
    background-color: #d4d9dd;
    text-align: left;
    margin: -30px;
    padding: 60px;
    color: black;
}

#about {
    overflow: auto;
}


#about-content {
    float: right;
    width: 100%;
}

#contact {
    background-color: #d4d9dd;
    text-align: left;
    margin: -30px;
    padding: 100px;
    color: #424246;
}

#footer {
    background-color: #424246;
    color: black;
padding-bottom: 2em;
}

@media screen and (max-width: 600px) {
    #topNav a {
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
    }

    #topNav {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #about,
    #services,
    #contact,
    #accomplishments {
        padding: 40px;
    }
    #about img, .about-column, #about-content {
        float: none;
        width: 100%;
    }
}

.social-icon {
    width: 40px;  
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}