body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    font-family: "DM Serif Text", serif;
}

ul {
    text-align: left;
}

a {
    color: black;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

#topNav {
    background-color: #232323;
    margin-bottom: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#topNav a {
    color: #d4d9dd;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#topNav a:hover {
    color: black;
    background-color: #616161;
}

#about,
#accomplishments {
    background-color: #424246;
    text-align: left;
    margin: -30px;
    padding: 100px;
    color: #d4d9dd;
}

#services,
#contact {
    background-color: #d4d9dd;
    text-align: right;
    margin: -30px;
    padding: 100px;
    color: #424246;
}

#footer {
    background-color: #424246;
    color: black;
padding-bottom: 2em;
}

#footer img {
    width: 75px;
    height: 75px;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    #topNav a {
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
    }

    #topNav {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #about,
    #services,
    #contact,
    #accomplishments {
        padding: 40px;
    }
}